<template>
  <form class="mt-3 block">
    <div
      :class="`flex border overflow-hidden rounded transition-colors duration-200 focus-within:shadow ${allowEmail ? 'bg-white' : 'bg-gray-200'}${error ? ' border-red-300 bg-red-100' : ''}`"
    >
      <label :class="`px-2 py-1 inline-block flex-none ${error ? 'bg-transparent' : 'bg-white border-r'}`">
        <input
          type="checkbox"
          v-model="allowEmail"
          @change="onAllowEmail"
        />
      </label>
      <span class="flex flex-grow items-center justify-between">
        <input
          :class="`no-outline flex-grow px-2 py-1 transition-colors duration-200 ${!allowEmail ? 'bg-gray-200' : 'bg-white'}${error ? ' bg-red-100' : ''}`"
          ref="mainInput"
          type="text"
          v-model="email"
          name="user_email"
          autofocus
          @click="selectAll"
          :disabled="!allowEmail"
          @input="handleInput"
        />
        <transition name="fade">
          <Icon v-if="valid" class="flex-none mx-2 text-green-500" name="checkmark-outline" />
        </transition>
      </span>
    </div>
    <transition name="fade">
      <p v-if="allowEmail && !error" class="text-right text-xs text-gray-600">
        Renseignez une adresse email valide.
      </p>
      <p v-if="error" class="text-red-500 text-xs">{{ error }}</p>
    </transition>
  </form>
</template>

<style>
.fade-enter-active {
  animation: fade 150ms;
}

.fade-leave-active {
  animation: fade 150ms reverse;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 100%;
  }
}
</style>

<script>
import debounce from "debounce";
import Icon from "../system/Icon";

export default {
  components: { Icon },
  data: () => ({
    allowEmail: false,
    valid: false,
    email: undefined,
    error: undefined,
    emailRe: /.+@.+\..+/,
  }),
  computed: {
    recap() {
      if (!this.allowEmail) {
        return this.$createElement("p", ["Vous ne nous avez pas communiqué d'email"]);
      }

      return this.email && this.email.trim()
        ? this.$createElement("p", ["votre email est ", this.$createElement("strong", [this.email.trim()])])
        : undefined;
    }
  },
  mounted() {
    this.validate(true);
    if (this.allowEmail) {
      this.focusEmail();
    }
  },
  methods: {
    validate(isValid = true) {
      this.$parent.$emit("validate", {
        isValid,
        id: this.key || "email",
        error: this.error,
        recap: this.recap,
        data: isValid && this.allowEmail && this.email && this.email.trim()
          ? { email: this.email}
          : undefined,
      });
    },
    focusEmail() {
      this.$nextTick(() => {
        this.$refs.mainInput.focus();
      });
    },
    onAllowEmail() {
      if (this.allowEmail) {
        this.focusEmail();
        this.error = "En attente de la saisie d'un email";
        this.validate(false);
      } else {
        this.email = "";
        this.error = undefined;
        this.valid = false;
        this.validate(true);
      }
    },
    selectAll(e) {
      e.currentTarget.select();
    },
    handleInput: debounce(function (e) {
      this.valid = false;
      this.error = undefined;

      if (e.target.value && !this.emailRe.test(e.target.value)) {
        this.error = "L'adresse renseigné n'est pas une adresse valide";
        this.validate(false);
        return;
      } else if (this.emailRe.test(e.target.value)) {
        this.valid = true;
        this.validate(true);
      } else if (e.target.value.trim() === "") {
        this.error = "En attente de la saisie d'un email";
        this.validate(false);
      }
    }, 700),
  },
};
</script>
