<template>
  <div class="answer">
    <TextInput autofocus :type="type" v-if="['text', 'email'].includes(type)" :name="name" />

    <select v-if="type === 'list'" :name="name" >
      <option v-for="choice of choices" :key="choice.value">{{ choice.label }}</option>
    </select>
  </div>
</template>

<script>
import TextInput from "./system/TextInput";

export default {
  name: "fb-survey-answer",
  props: ["type", "name", "choices"],
  components: {
    TextInput,
  }
};
</script>
