<template>
  <div>
    <article
      class="question rounded shadow block border border-gray-400 px-8 pt-6 pb-8"
    >
      <slot name="question"></slot>
      <main>
        <slot name="answers"></slot>
      </main>
    </article>
  </div>
</template>

<script>
export default {
  name: "fb-survey-element",
  created() {
    this.$on("validate", (d) => {
      this.$parent.$emit("validate", d);
    });
  }
};
</script>
