<template>
  <div id="app" class="min-h-screen flex justify-center">
    <fb-survey>
      <fb-survey-element key="getting-to-know-you">
        <template #question>
          <fb-survey-question>What is your name?</fb-survey-question>
        </template>

        <template #answers>
          <fb-survey-answer type="text" name="username" />
        </template>
      </fb-survey-element>

      <fb-survey-element key="getting-your-email">
        <template #question>
          <fb-survey-question
            >Une adresse mail que vous accepteriez de nous
            communiquer&nbsp;?</fb-survey-question
          >
        </template>

        <template #answers>
          <EmailQuestion name="user_email" />
        </template>
      </fb-survey-element>
    </fb-survey>
  </div>
</template>

<script>
import Vue from "vue";
import Survey from "./components/Survey.js";
import SurveyElement from "./components/SurveyElement";
import SurveyQuestion from "./components/Question";
import SurveyAnswer from "./components/Answer";

import EmailQuestion from "./components/questions/Email";

export default Vue.extend({
  name: "App",
  components: {
    "fb-survey": Survey,
    "fb-survey-element": SurveyElement,
    "fb-survey-question": SurveyQuestion,
    "fb-survey-answer": SurveyAnswer,
    EmailQuestion,
  },
});
</script>

<style>
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  overflow-x: hidden;
}

@keyframes slideIn {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX() (0);
  }
  to {
    transform: translateX(-200%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .slide-enter {
    opacity: 0%;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 100%;
    }
  }

  @keyframes slideOut {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0;
    }
  }
}

:root {
  --slide-dur: 350ms;
}

.slide-enter {
  transform: translateX(200%);
}

.slide-enter-active {
  animation: slideIn var(--slide-dur);
}

.slide-rev-enter-active {
  animation: slideOut var(--slide-dur) reverse;
}

.slide-rev-leave-active {
  animation: slideIn var(--slide-dur) reverse;
}

.slide-leave-active {
  animation: slideOut var(--slide-dur);
}
</style>
