<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="inline-block h-5 w-5"
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <g v-if="invalidName">
      <text>UNKNOWN NAME: '{{ name }}'</text>
    </g>

    <g v-else-if="name === 'arrow-backward-outline'" :class="name">
      <rect
        width="24"
        height="24"
        transform="rotate(90 12 12)"
        opacity="0"
      ></rect>
      <path
        d="M19 11H7.14l3.63-4.36a1 1 0 1 0-1.54-1.28l-5 6a1.19 1.19 0 0 0-.09.15c0 .05 0 .08-.07.13A1 1 0 0 0 4 12a1 1 0 0 0 .07.36c0 .05 0 .08.07.13a1.19 1.19 0 0 0 .09.15l5 6A1 1 0 0 0 10 19a1 1 0 0 0 .64-.23 1 1 0 0 0 .13-1.41L7.14 13H19a1 1 0 0 0 0-2z"
      ></path>
    </g>

    <g v-else-if="name === 'arrow-forward-outline'" :class="name">
      <rect
        width="24"
        height="24"
        transform="rotate(-90 12 12)"
        opacity="0"
      ></rect>
      <path
        d="M5 13h11.86l-3.63 4.36a1 1 0 0 0 1.54 1.28l5-6a1.19 1.19 0 0 0 .09-.15c0-.05.05-.08.07-.13A1 1 0 0 0 20 12a1 1 0 0 0-.07-.36c0-.05-.05-.08-.07-.13a1.19 1.19 0 0 0-.09-.15l-5-6A1 1 0 0 0 14 5a1 1 0 0 0-.64.23 1 1 0 0 0-.13 1.41L16.86 11H5a1 1 0 0 0 0 2z"
      ></path>
    </g>

    <g v-else-if="name === 'checkmark-outline'" :class="name">
      <rect width="24" height="24" opacity="0"></rect>
      <path
        d="M9.86 18a1 1 0 0 1-.73-.32l-4.86-5.17a1 1 0 1 1 1.46-1.37l4.12 4.39 8.41-9.2a1 1 0 1 1 1.48 1.34l-9.14 10a1 1 0 0 1-.73.33z"
      ></path>
    </g>

    <g v-else-if="name === 'menu-2-outline'" :class="name">
      <rect
        width="24"
        height="24"
        transform="rotate(180 12 12)"
        opacity="0"
      ></rect>
      <circle cx="4" cy="12" r="1"></circle>
      <rect x="7" y="11" width="14" height="2" rx=".94" ry=".94"></rect>
      <rect x="3" y="16" width="18" height="2" rx=".94" ry=".94"></rect>
      <rect x="3" y="6" width="18" height="2" rx=".94" ry=".94"></rect>
    </g>
  </svg>
</template>

<script>
export default {
  props: { name: String },
  data() {
    return {
      validNames: [
        "arrow-backward-outline",
        "arrow-forward-outline",
        "checkmark-outline",
        "menu-2-outline",
      ],
    };
  },
  computed: {
    invalidName() {
      return !this.validNames.includes(this.name);
    },
  },
};
</script>
