<template>
  <input ref="hiddenInput" class="rounded border border-gray-300 py-1 px-2 mt-2 ml-2 focus:border-purple-400 focus:shadow">
</template>

<script>
export default {
  props: {
    autofocus: Boolean,
  },
  mounted() {
    if (this.autofocus) {
      this.$refs.hiddenInput.focus();
    }
  }
}
</script>
