<template>
  <div>
    <TextInput @input="handleInput" class="invalid:border-red-600 invalid:shadow" />
    <p class="text-xs text-gray-600" v-if="helper">{{ helper }}</p>
    <p class="text-xs text-red-600" v-if="error">{{ error }}</p>
  </div>
</template>

<script>
import debounce from "debounce";
import TextInput from "./TextInput";

export default {
  components: {
    TextInput,
  },
  props: {
    validate: Function,
    helper: String
  },
  data() {
    return {
      error: undefined,
    };
  },
  methods: {
    handleInput: debounce(((e) => {
      const { error, helper } = this.validate
        ? this.validate(e.currentTarget.value)
        : { error: undefined, helper: this.helper || "" };

      this.helper = helper;
      this.error = error;
    }).bind(this), 300),
  }
}
</script>
